body {
  font-family: Arial, Helvetica, sans-serif;
  /*background:url(https://www.intel.com/content/dam/www/public/us/en/images/programmable/16x9/wireless-microwave-backhaul-16x9.jpg.rendition.intel.web.978.550.jpg) no-repeat; */
  background-size: cover;
  align-items: center;
  justify-content: center;

}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 2px solid inherit;
}

/* Set a style for all buttons */
button {
  background-color: #3495fb;
  color: white;
  position: relative;
  text-align: center;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  left: 10%;
  border-radius: 5px;
}

.sign-up{

  background-color: #3495fb;
  color: white;
  position: relative;
  text-align: center;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  left: 10%;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.sign-up:hover{
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: left;
  margin: 24px 0 12px 0;
  position: relative;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: gray;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */;
  height: 80%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .10);
  backdrop-filter: blur(10px);

}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

h2{
color:white;
text-align: center;
}

label{

  color:white;
}